.logo {
    font-family: "Lobster", cursive;
    font-weight: 400;
    font-size: 40px;
}

.logo a {
    text-decoration: none !important;
    color: #ffffff !important;
}

.logo a:visited {
    color: #ffffff;
}
