/* Inner pages - Tours */

.inner-main-tours-title {
    margin-bottom: 60px;

    text-align: center;
}

/* cards */

.cards-row-1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.cards-row-2 {
    display: flex;
    justify-content: space-between;
}

.cards-row-2-column-1 > * + * {
    margin-top: 30px;
}

.card-link-wrapper {
    display: block;
    text-decoration: none;
    color: #ffffff;
}

.card-link-wrapper:hover {
    opacity: 0.9;
}

.card {
    width: 570px;
    height: 435px;

    background-color: #a6a6a6;
}

.card.big {
    width: 670px;
    height: 365px;
}

.card.small {
    width: 470px;
    height: 760px;
}

.card-title {
    margin-top: -1px;

    font-weight: 700;
    font-size: 28px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-title-wrapper {
    display: flex;
    align-items: center;
    height: 80px;
    padding-left: 30px;
    padding-right: 30px;

    overflow: hidden;
    white-space: nowrap;
    background-color: #a6a6a6;
    color: #ffffff;
}

.card.color-2 .card-title-wrapper {
    background-color: #c1b19b;
}

.card.color-3 .card-title-wrapper {
    background-color: #66b0be;
}

.card.color-4 .card-title-wrapper {
    background-color: #876f56;
}

.card.color-5 .card-title-wrapper {
    background-color: #27695e;
}
