/* Fake index.html */

.ui {
    padding: 50px;
}

.ui-header {
    margin-bottom: 40px;

    font-size: 50px;
}

.ui-subheader {
    margin-bottom: 30px;

    font-size: 42px;
}

ul.ui-list {
    padding-left: 30px;

    font-size: 32px;
    list-style-type: disc;
}

ul.ui-list li {
    margin-bottom: 20px;
}

ul.ui-list a {
    color: #138ece;
}
